
#dabai{
    float: left;
    position: relative;
    background: #fff;
}
/*主题左边*/
#dabai .divL {
    width: 188px;
    height: 512px;
    border:1px solid #ff5000;
    border-top: none;
    padding:5px 0 3px 0;
    position: relative;
    float: left;
}
#dabai .divL li{
    height: 32px;
    line-height: 32px;
    position: relative;
    width: 145px;
    padding:0 19px 0 25px;
    font-size: 14px;
    color:#666;
    font-weight: 400;
    cursor: pointer;
    transition:.3s;

}
#dabai .divL li:after{
    content:">";
    font-size: 14px;
    color: rgb(121, 99, 89);
    position:absolute;
    right: 10px;
    top: 0;
    color: #ccc;

}
#dabai .divL li:hover,#dabai .divL li:hover::after{
    background-color: #ffe4dc;
    color: #FF5000;
}
/*主题右边*/
#dabai .divR{
    float: left;

    display: none;
    transform: translateZ(0);
    display: none;
    position: absolute;
    left: 188px;
    top: 0;
    padding: 0 0 0 16px;
    width: 692px;
    height: 518px;
    border: 2px solid #F94A14;
    box-shadow: 2px 2px 0 #dcdadb;
    background-color: #FFF;
    color: #333;
    font-size: 12px;
    z-index: 22;
}
#dabai .divR  .divR_{

}
#dabai .divR .divR_ .divR_item{
    display: none;
}
#dabai .divR .divR_ .divR_smillClass{
    padding-top: 10px;
    width: 415px;
    height: 490px;
    overflow: hidden;
    padding-right: 12px;
    padding-left: 10px;
    float: left;
}
#dabai .divR .divR_ .divR_smillClass p{
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    position: relative;
}
#dabai .divR .divR_ .divR_smillClass p a{
    color: #666;
}
#dabai .divR .divR_ .divR_smillClass em{
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 12px;
    color: #666;
    font-style: normal;
    cursor: pointer;
}
#dabai .divR .divR_ .divR_smillClass em a{
    color: #666;
}
#dabai .divR .divR_ .divR_smillClass em:after{
    content:">";
    font-size: 12px;
    color: #ccc;
    position:absolute;
    right: -10px;
    top: 0;
}

#dabai .divR .divR_ .divR_smillClass em:hover  a,#dabai .divR .divR_ .divR_smillClass em:hover::after{
    color: #FF5000;
}
#dabai .divR .divR_ .divR_smillClass span{
    display: block;
    height: 104px;
    overflow: hidden;
    padding-bottom: 33px;
    line-height: 26px;

}
#dabai .divR .divR_ .divR_smillClass span a{
    color: #666;
    display: inline-block;
    margin-right: 12px;

    transition: .3s;
    white-space: nowrap
}
#dabai .divR .divR_ .divR_smillClass span a:hover{
    color: #FF5000;
}
/*主题右边-猜你喜欢*/
#dabai .divR .divR_  .divR_item .whatLikeBox {
    float: left;
    width: 253px;
    border-left: 1px solid #f4f4f4;
    position: relative;
    height: 498px;
    padding-top: 20px;
}
#dabai .divR .divR_  .divR_item .whatLikeBox>  p{
    line-height: 18px;
    color: #333;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}
#dabai .divR .divR_  .divR_item .whatLikeBox .whatLike  a{
    display: block;
    width: 97px;
    height: 143px;
    padding: 10px 0 0 20px;
    overflow: hidden;
    float: left;
}
#dabai .divR .divR_  .divR_item .whatLikeBox .whatLike img{
    display: block;
    width: 98px;
    height: 97px;
    opacity: 0.9;
}
#dabai .divR .divR_  .divR_item .whatLikeBox .whatLike img:hover{
    opacity: 1;
}
#dabai .divR .divR_  .divR_item .whatLikeBox .whatLike p{
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    overflow: hidden;
    font-weight: 400;
    color: #999;
    text-align: center;
}
/*淘抢购*/
#dabaiBuying .qiang-inner {
    height: 264px;
    overflow: hidden;
    position: relative;
}
#dabaiBuying .com-hd {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
#dabaiBuying .mod-hd em{
    display: none;
}
#dabaiBuying .fl {
    float: left;
    display: inline;
}
#dabaiBuying  .qiang-inner .qiang-hd .mlogo {
    height: 22px;
    margin-right: 5px;
}
#dabaiBuying  .mod-hd p{
    line-height: 24px;
    height: 24px;
    color: #999;
    font-weight: 400;
}
#dabaiBuying  .ml6 {
    margin-left: 6px;
}
#dabaiBuying  .countdown-wrapper{
    color:#ff5000;
    line-height: 20px;
    height: 20px;
    margin-top: 2px;
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;

}
#dabaiBuying  .countdown-wrapper span{
    padding: 2px;
    background: pink;
    display: inline-block;
    line-height: 14px;
    height: 14px;
    margin-left: 3px;
    margin-right: 3px;
}
#dabaiBuying  .mod-hd .tb-fn {
    position: absolute;
    top: 0;
    right: 20px;
    line-height: 24px;
    height: 24px;
    font-size: 12px;
    color: #999;
    width: 100px;
    text-align: right;
}
#dabaiBuying  .mod-hd .tb-fn .more, .mod-hd .tb-fn .switch {
    cursor: pointer;
    font-weight: 400;
}
#dabaiBuying  .mod-hd .tb-fn .more {
    margin-left: 14px;
    color: inherit;
}
#dabaiBuying .mod-hd .more .tb-ifont {
    float: right;
    width: 12px;
    font-size: 12px;
    text-align: center;
    top: 1px;
    position: relative;
}
#dabaiBuying .qiang-inner li {
    float: left;
    width: 355px;
    padding: 0 20px 0 20px;

}

#dabaiBuying  .qiang-inner li a {
    display: block;
}
#dabaiBuying  .qiang-inner .img-wrapper {
    float: left;
    width: 180px;
    height: 180px;
    background: #f4f4f4;
    opacity: 0.9;
    transition:.3s;
}
#dabaiBuying  .qiang-inner .img-wrapper img {
    width: 101%;
    height: 100%;
    display: block;

}
#dabaiBuying .qiang-inner li:hover  .img-wrapper{
    opacity: 0.8;
    box-shadow: 2px 2px 2px rgb(0,0,.3);
}
#dabaiBuying   .qiang-inner .info {
    margin-left: 194px;
    overflow: hidden;
}
#dabaiBuying .qiang-inner h4 {
    margin-top: 11px;
    line-height: 22px;
    height: 44px;
    overflow: hidden;
    font-size: 16px;
    color: #333;
    font-weight: normal;
    transition: .3s;
}
#dabaiBuying .qiang-inner li:hover h4{
    color: #ff5000;
}
#dabaiBuying  .qiang-inner .title {
    margin-top: 12px;
    line-height: 28px;
    color: #999;
}
#dabaiBuying  .qiang-inner .progress {
    position: relative;
    width: 159px;
    height: 6px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    background: #FFE4Dc;
    visibility: hidden;
}

#dabaiBuying  .qiang-inner .progress .progress-bar {
    position: absolute;
    width: 25%;
    left: 0;
    top: 0;
    height: 6px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    background: #FE3338;
}
#dabaiBuying  .qiang-inner .desc {
    visibility: hidden;
    line-height: 28px;
    height: 28px;
    color: #FE3338;
}
#dabaiBuying  .qiang-inner .desc .letter {
    float: right;
    display: inline;
    width: 100px;
    text-align: right;
}
#dabaiBuying  .qiang-inner .yan {
    font-size: 12px;
    color: #ff5000;
}
#dabaiBuying  .qiang-inner .yan, .qiang-inner .cur {
    font-size: 20px;
    color: #ff5000;
}
#dabaiBuying  .qiang-inner .price {
    color: #999;
    margin-left: 6px;
    text-decoration: line-through;
}

/*家居品质家*/
#dabaiLive  .common-left.good-shop{
    height: 768px;
    background: #fff;
}
#dabaiLive .J_Module {
    min-height: 0;
    background-color: #FFF;
}
#dabaiLive .quality-hd {
    color: #28ABFF;
    border-bottom: 1px solid #f4f4f4;
    margin-top: 0;
}
#dabaiLive .quality-hd:before {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(45deg, #0087ff, #3bc7ff);
    background-image: -o-linear-gradient(45deg, #0087ff, #3bc7ff);
    background-image: linear-gradient(45deg, #0087ff, #3bc7ff);
    background: #28ABFF;
    top: 14px\9;
}

#dabaiLive .bar-hd:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 16px;
    top: 16px;
    left: 20px;
}
#dabaiLive .bar-hd em {
    display: block;
    font-style: normal;
}
#dabaiLive .quality-inner .left {
    width: 294px;
    float: left;
    display: inline;
}
#dabaiLive .quality-inner .left .img-wrapper-outer {
    border: 1px solid transparent;
    padding: 19px;
    border-right-color: #f4f4f4;
    width: 254px;
    height: 317px;

}
#dabaiLive  .quality-inner .left .main-img {
    display: block;
    height: 317px;
    width: 254px;
    overflow: hidden;
}
#dabaiLive .quality-inner .left .main-img img {
    width: 100%;
    height: 100%;
    display: block;
    background: #fff;
    opacity: 0.9;
}
#dabaiLive .quality-inner .left .item {
    height: 117px;
    border-top-color: #f4f4f4;
    border-right-color: #f4f4f4;
    display: block;
}
#dabaiLive .quality-inner .left .item-hd {
    padding-top: 35px;
    float: left;
    padding-left: 40px;
    width: 122px;
    font-size: 14px;
}
#dabaiLive .quality-inner .left .item-hd h4 {
    height: 30px;
    line-height: 30px;
    font-weight: normal;
}
#dabaiLive .quality-inner .left .item-hd .title {
    font-size: 18px;
    color: #333;
}
#dabaiLive .quality-inner .left .item-hd .subtitle {
    color: #999;
    line-height: 20px;
    font-size: 12px;
}
#dabaiLive .quality-inner .left .item-bd {
    margin-left: 162px;
    padding-top: 10px;
}
#dabaiLive .quality-inner .left .item-bd a, .quality-inner .left .item-bd img {
    display: block;
    width: 100px;
    height: 100px;
}
#dabaiLive .quality-inner .left .main-img img {
    width: 100%;
    height: 100%;
    display: block;
}
#dabaiLive .quality-inner .right {
    margin-left: 294px;
}
#dabaiLive .quality-inner .right .item {
    padding: 30px 19px;
    height: 176px;
    border-top-color: #f4f4f4;
    transition: .3s;
}
#dabaiLive  .quality-inner .right .item.first {
    border-top-color: transparent;
}
#dabaiLive  .quality-inner .right .item:hover{
    border:1px solid #ff5000;
}
#dabaiLive .quality-inner .item-hd {
    font-size: 14px;
}
#dabaiLive .quality-inner .right .item-hd {
    font-weight: normal;
    color: #333;
    padding-left: 10px;
    line-height: 32px;
    height: 32px;
}
#dabaiLive .quality-inner .right .item .title {
    font-size: 18px;
    color: #333;
}
#dabaiLive .quality-inner .right .item-hd .subtitle {
    color: #999;
    vertical-align: top;
    font-size: 12px;
}
#dabaiLive .quality-inner .right .item-bd {
    margin-top: 24px;
}
#dabaiLive  .quality-inner .right .item-bd img {
    display: block;
}

#dabaiLive  .quality-inner .right .item-bd a,#dabaiLive  .quality-inner .right .item-bd img {
    width: 120px;
    height: 120px;
}
#dabaiLive  .quality-inner .right .item-bd .second {
    margin-left: 15px;
}
#dabaiLive .fl {
    float: left;
    display: inline;
}
/*家居右*/
#dabaiLive  .common-right.live{
    height: 768px;
    background: #fff;
}
#dabaiLive  .common-right .mod-hd {
    color: #ff5000;
}
#dabaiLive .common-right .mod-hd:before {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(45deg, #ffd636, #ff5000);
    background-image: -o-linear-gradient(45deg, #ffd636, #ff5000);
    background-image: linear-gradient(45deg, #ffd636, #ff5000);
    background: #ff5000;
}
#dabaiLive .quality-inner .left {
    width: 294px;
}
#dabaiLive   .quality-inner .left .img-wrapper-outer {
    padding: 19px;
    border-right-color: #f4f4f4;
    width: 254px;
    height: 317px;
}
#dabaiLive  .img-wrapper {
    background: #4f4f4f;
}
#dabaiLive  .quality-inner .left .main-img {
    display: block;
    height: 317px;
    width: 254px;
    overflow: hidden;
}
#dabaiLive .img-wrapper img {
    opacity: .9;
}
#dabaiLive .quality-inner .left .main-img img {
    width: 100%;
    height: 100%;
    display: block;
    transition: .3s;
}
#dabaiLive .quality-inner .left .main-img img:hover{
    opacity: 0.8;
}
#dabaiLive .quality-inner .img-wrapper-outer, .quality-inner .item {
    border: 1px solid transparent;
}
#dabaiLive .quality-inner .img-wrapper-outer:hover{
    border: 1px solid #FE3338;
}
#dabaiLive .quality-inner .left .item {
    height: 117px;
    border-top-color: #f4f4f4;
    border-right-color: #f4f4f4;
    display: block;
    transition: .3s;
}
#dabaiLive .quality-inner .left .item:hover{
    border: 1px solid #FE3338;
}






